### 연산자

### 산술연산자
- '+' : 더하기
- '-' : 빼기
- '*' : 곱하기
- '/' : 나누기
- '%' : 나머지
- '//' : 몫구하기
- '**' : 거듭제곱

#### 비교 연산자
- '>' : 크다
- '>=' : 크거나 같다; # type: ignore
- '>=' : 크거나 같다; # type: ignore
- '<' : 작다
- '<=' : 작거나 같다; # type: ignore
- '==' : 같다
- '!=' : 다르다

#### 논리연산자
- and : 논리 곱
- or : 논리 합
- not : 논리 부정

In [11]:
True and True

True

In [12]:
(5 > 2) and (5 <= 2)

False

In [ ]:
True or False

In [13]:
(5 > 2) or (5 <= 2)

True

In [14]:
not True

False

In [15]:
not (5 <= 2)

True

### 변수
데이터를 저장하는 공간
파이썬에서는 변수의 특정 데이터 타입이 존재하지 않음
즉, 하나의 변수에 여러 데이터 타입을 할당할 수 있음

In [17]:
variable = 10;
variable

10

In [18]:
variable = True
variable

True

In [19]:
variable = 10.0
variable

10.0

In [20]:
# variable = 0.13
variable = .13
variable

0.13

### 데이터타입
- 정수형
- 실수형
- 논리형
- 문자열

In [21]:
type(10)

int

In [22]:
type(10.0)

float

In [23]:
type(True)

bool

In [24]:
type("문자열")

str

#### 데이터타입 변환
- int() : 특정 데이터를 정수형으로 변환
- float() : 특정 데이터를 실수형으로 변환
- bool() : 특정 데이터를 논리형으로 변환
- str() : 특정 데이터를 문자열으로 변환

In [31]:
int('10')

10

### NAN, Inf

- NaN (Not a Number) : 숫자가 아님을 나타냄
- Inf (Infinity) : 무한대

In [32]:
float('Nan')

nan

In [35]:
float('Inf')

inf

### 대입연산자

- = : 좌항에 우항을 대입
- += : 좌항에 좌항값에 우항을 더한 값을 대입
- -= : 좌항에 좌항값에 우항을 뺀 값을 대입
- *= : 좌항에 좌항값에 우항을 곱한 값을 대입
- /= : 좌항에 좌항값에 우항을 나눈 값을 대입
- **= : 좌항에 좌항값에 우항을 거듭제곱한 값을 대입
- //= : 좌항에 좌항값에 우항을 나눈몫 값을 대입

#### 파이썬은 증감연산자가 존재하지 않음
증감을 표현하고 싶으면
변수 += 1, 변수 -= 1

In [ ]:
variable = 10

In [65]:
variable = 10

### 문자열

- 출력 : print() 함수로 문자열 출력
- 문자열 연산 : + 연결, * 반복
- 타 데이터 타입과 연결 : 반드시 타 데이터 타입을 str() 형변환 함수로 변형후 연결해야함
- 문자열 : ' 혹은 " 로 묶어서 표현, \n 으로 줄바꿈 가능
- 여러줄의 문자열 : ''' 혹은 """로 표현
- 문자열 치환 : .replace() 문자열 메서드로 특정 문자열을 변경 가능
- f문자열 : 문자열 앞에 f라는 키워드를 붙여서 문자열의 포맷을 만들어 사용 가능

In [ ]:
print('문자열')

In [74]:
string1 = '문자열1'
string2 = '문자열2'
string1 * 2 # 반복횟수 입력만큼 문자열이 반복됨
print()

'문자열1문자열1'

In [75]:
integer = 10
string1 + str(integer)

'문자열110'

In [78]:
print('안녕하세요\n반갑습니다')

TypeError: 'int' object is not callable

In [79]:
statement = '''
안녕하세요
반갑습니다
'''
print(statement)

'\n안녕하세요\n반갑습니다\n'

In [10]:
5 >= 2

True

In [3]:
5 // 2

2

In [4]:
5 ** 2

25

5 + 1

In [1]:
5 - 1

4

In [2]:
5 * 2

10